In [6]:
data = [["Milk","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Dill","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Milk","Apple","Kidney Beans","Eggs"],
       ["Milk","Unicorn","Corn","Kidney Beans","Yogurt"],
       ["Corn","Onion","Onion","Kidney Beans","Ice Cream","Eggs"]]

display(data)

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [5]:
pip install mlxtend --user

Collecting mlxtend
  Using cached mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Collecting scikit-learn>=1.0.2
  Using cached scikit_learn-1.2.1-cp39-cp39-win_amd64.whl (8.4 MB)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Collecting joblib>=0.13.2
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Installing collected packages: joblib, scikit-learn, mlxtend
Successfully installed joblib-1.2.0 mlxtend-0.21.0 scikit-learn-1.2.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)

In [9]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

In [8]:
te.columns_

AttributeError: 'TransactionEncoder' object has no attribute 'columns_'

In [10]:
te = TransactionEncoder()

te_array = te.fit(data).transform(data)
te_array

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [11]:
df = pd.DataFrame(te_array, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [12]:
from mlxtend.frequent_patterns import fpgrowth

#fpgrowth(df, min_support=0.6)   #gives indices like Kidney Beans are on 5th index so item set will have 5 in 1st row
fpgrowth(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Eggs, Kidney Beans)
6       0.6       (Yogurt, Kidney Beans)
7       0.6                (Eggs, Onion)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Eggs, Onion, Kidney Beans)
10      0.6         (Milk, Kidney Beans)

In [13]:
df1 = fpgrowth(df, min_support=0.6, use_colnames=True)
df1

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Eggs, Kidney Beans)
6       0.6       (Yogurt, Kidney Beans)
7       0.6                (Eggs, Onion)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Eggs, Onion, Kidney Beans)
10      0.6         (Milk, Kidney Beans)

In [14]:
data = [["Milk","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Dill","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Milk","Apple","Kidney Beans","Eggs"],
       ["Milk","Unicorn","Corn","Kidney Beans","Yogurt"],
       ["Corn","Onion","Onion","Kidney Beans","Ice Cream","Eggs"]]

In [16]:
purchase_item = "Onion"

df1 = fpgrowth(df, min_support=0.6, use_colnames=True)
df1['itemsets'] = df1['itemsets'].apply(str)
df1[df1['itemsets'].str.contains(purchase_item)]

   support                                      itemsets
3      0.6                          frozenset({'Onion'})
7      0.6                  frozenset({'Eggs', 'Onion'})
8      0.6          frozenset({'Onion', 'Kidney Beans'})
9      0.6  frozenset({'Eggs', 'Onion', 'Kidney Beans'})

In [17]:
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [18]:
from mlxtend.frequent_patterns import apriori, fpgrowth


purchase_item = "Milk"
ratio = 0.6

df1 = fpgrowth(df, min_support=ratio, use_colnames=True)
df1['itemsets'] = df1['itemsets'].apply(str)
df1 = df1[df1['itemsets'].str.contains(purchase_item)]

df2 = apriori(df, min_support=ratio, use_colnames=True, low_memory=True)
df2['itemsets'] = df2['itemsets'].apply(str)
df2 = df2[df2['itemsets'].str.contains(purchase_item)]

print("==============FpGrowth=============")
display(df1)

print("=============Aprori================")
display(df2)

==============FpGrowth=============

    support                             itemsets
4       0.6                  frozenset({'Milk'})
10      0.6  frozenset({'Milk', 'Kidney Beans'})

=============Aprori================

   support                             itemsets
2      0.6                  frozenset({'Milk'})
7      0.6  frozenset({'Milk', 'Kidney Beans'})